@import "var";
@import "mix"
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main-header{
    @include flex;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;

    h1{
        color: $text-color;
        font-family: $font-family;
        font-size: 5rem + 2rem;
        cursor: pointer;

        &:hover{
            color: black;
            transition: all 0.3s linear;
        }

        &::after{
            content: " Sass!";
        }
    }

    p{
        color: $text-color;
        font-family: $font-family;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;

        &:hover{
            color: black;
            transition: all 0.3s linear;
        }
    }
}

